<ng-container *ngIf="(studentDetailState$ | async) as state" [ngSwitch]="state.dataState">
  <ng-container *ngSwitchCase="DataState.Loaded">
    <section>
      <div class="container">
        <nav aria-label="breadcrumb" style="margin-top: 8px">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/']">Home</a>
            </li>
            <li class="breadcrumb-item">Students</li>
            <li class="breadcrumb-item active">List</li>
          </ol>
        </nav>


        <div class="row row-col">
          <form #studentDetailForm="ngForm" (ngSubmit)="updateStudent(studentDetailForm)" action="">
            <div class="col-sm-6">
              <div class="form-group">
                <label>First Name</label>
                <input class="form-control" type="text" name="firstName"
                [ngModel]="state?.appData?.data?.student?.firstName">
              </div>
              <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" type="text" name="lastName"
                       [ngModel]="state?.appData?.data?.student?.lastName">
              </div>
              <div class="form-group">
                <label>E-Mail</label>
                <input class="form-control" type="text" name="email"
                       [ngModel]="state?.appData?.data?.student?.email">
              </div>

              <div class="form-group">
                <label>Phone</label>
                <input class="form-control" type="text" name="phone"
                       [ngModel]="state?.appData?.data?.student?.phone">
              </div>
              <div class="form-group">
                <label>Languages / Level</label>
                <input class="form-control" type="text" name="languages">
              </div>

            </div>

            <div class="col-sm-6">

              <div class="form-group">
                <label>Balance</label>
                <input class="form-control" type="text" name="balance">
              </div>
              <div class="form-group">
                <label>Since</label>
                <input class="form-control" type="text" name="createdAt">
              </div>
              <div class="form-group">
                <label>Status</label>
                <input class="form-control" type="text" name="status">
              </div>

            </div>
          </form>

        </div>

      </div>
    </section>
  </ng-container>

</ng-container>

